{{#each station}}
  <section class="ui segment">
    <h2 class= "ui header">
      {{stationName}}
    </h2>
    <a href="/station/{{stationName}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
    <a href="/dashboard/deletestation/{{stationName}}" class="ui icon button">
      <i class="red icon trash"></i>
    </a>
  </section>
{{/each}}