<nav class="ui menu">
  <header class="ui header item"> WeatherTop 2 <img class = "ui image" src = "https://cdn.glitch.global/bed48159-7e66-4e6d-9799-a49b4eae0ba4/wtlogo.PNG?v=1660842942942"</header>
  <header class="ui header item">
    <p> {{station.name}}</p>
  </header>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="about" class="item" href="/about"> About </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>
