{{>menu id="dashboard"}}

<section class="ui segment">
  <h2 class="ui header">
    {{name}} {{station.name}}
  </h2>
  {{>liststations}}
</section>

<section class="ui segment">  
  {{>addstation}}
</section>
