{{> welcomeMenu }}

<section class="ui center aligned middle two column grid  segment">
  <div class="column">
      <h1>WeatherTop2 App </h1>
      <p> Sign up or log in to post weather updates</p>
  </div>
  <div class="column">
    <img class="ui image" src="https://cdn.glitch.global/bed48159-7e66-4e6d-9799-a49b4eae0ba4/wtlogo1.png?v=1660842946374">
  </div>
</section>